









                        <div class="row" style="background-color:#fafafa;border-radius:5px;">
                            <form method="POST" action="/codecollections/codesubmissions/">
                            {% csrf_token %}
                                <div class="col-md-12" style="padding:15px; padding-top:0px;">
                                    <div class="codecollections">
                                        <div class="col-md-12 inputbox" style="margin-bottom:0px; margin-top:30px;">
                                                <label class="labels"> Data Structure </label>
                                                <div style="padding-left:5px;display:flex;overflow-x: scroll;">
                                                        {% for object in DataStructures %}
                                                            <div style="flex: none; padding: 5px 10px;">
                                                                <input type="checkbox" id="comingDataStructures{{loop.counter}}" name="comingDataStructures" value="{{object.id}}" >
                                                                <label for="comingDataStructures{{loop.counter}}"> {{object.name}}</label>
                                                            </div>
                                                        {% endfor %}
                                                </div>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Programming Language </label>
                                                    <select name="comingProgrammingLanguage" id="comingProgrammingLanguage" class="codeinputs">
                                                        {% for object in ProgrammingLanguages %}
                                                            <option value="{{object.id}}"{% if object.name == 'Python' %} selected {% endif %}>{{object.name}}</option>
                                                        {% endfor %}
                                                        <option value="other">Other's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Plateform </label>
                                                    <select name="comingPlateforms" id="comingPlateforms" class="codeinputs">
                                                        {% for object in DataSet.plateforms %}
                                                                <option value="{{object.id}}" {% if object.name == 'GeeksForGeeks' %} selected {% endif %}>{{object.name}}</option>
                                                        {% endfor %}
                                                        <!-- <option value="other">Other's</option> -->
                                                    </select>
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Time Complexity </label>
                                                    <input class="codeinputs" type="text" id="comingTimeComplexity" name="comingTimeComplexity">
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Auxiliary Complexity </label>
                                                    <input class="codeinputs" type="text" id="comingAuxiliarySpace" name="comingAuxiliarySpace">
                                                </div>
                                            </div>
                                        </div>
                                        <textarea name="comingCodeSubmissions" id="comingCodeSubmissions" class="codetextarea codeinputs" placeholder="typing..." style="margin:15px;margin-top:0;  max-width: -webkit-fill-available;"></textarea>
                                        <div style="margin:15px; margin-top: 0;">
                                            <input class="codeinputs" type="submit" style="width:10%; background-color:darkred; color:white;"> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- /.row -->







