




            <div class="main-header" style="border-bottom: groove white;">
                <div class="row">
                    <div class="menu-wrapper">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm sf-js-enabled sf-arrows">
                            <!-- <li {% if request.path == '/index/' %} class="active" {% endif %}><a href="/index/">Home</a></li> -->

                            <li {% if request.path == '/codecollections/' %} class="active" {% endif %}><a href="/codecollections/">Home</a></li>
                            <li {% if request.path == '/codecollections/edittables/' %} class="active" {% endif %}><a href="/codecollections/edittables/"> Edit Tables </a></li>
                            <li {% if request.path == '/codecollections/problemsubmissions/' %} class="active" {% endif %}><a href="/codecollections/problemsubmissions/">Problem Submissions </a></li>
                            <li {% if request.path == '/codecollections/codesubmissions/' %} class="active" {% endif %}><a href="/codecollections/codesubmissions/">Code Submissions </a></li>

                            <!-- <li {% if request.path == '/codecollections/services/' %} class="active" {% endif %}><a href="/codecollections/services/">Services</a></li> -->

                        </ul>
                        </ul>
                    </div> 
                </div>
            </div> 





            