




            <div class="main-header" style="border-bottom: groove white;">
                <div class="row">
                    <div class="menu-wrapper">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm sf-js-enabled sf-arrows">
                            <!-- <li {% if request.path == '/index/' %} class="active" {% endif %}><a href="/index/">Home</a></li> -->
                            <li {% if request.path == '/codecollections/' %} class="active" {% endif %}><a href="/codecollections/">Home</a></li>
                            <li {% if request.path == '/codecollections/edittables/' %} class="active" {% endif %}><a href="/codecollections/edittables/"> Edit Tables </a></li>
                            <li {% if request.path == '/codecollections/problemsubmissions/' %} class="active" {% endif %}><a href="/codecollections/problemsubmissions/">Problem Submissions </a></li>
                            <li {% if request.path == '/codecollections/codesubmissions/' %} class="active" {% endif %}><a href="/codecollections/codesubmissions/">Code Submissions </a></li>
                            <!-- <li {% if request.path == '/codecollections/services/' %} class="active" {% endif %}><a href="/codecollections/services/">Services</a></li> -->
                        </ul>
                        </ul>
                    </div> 
                </div>
            </div> 

            <div class="main-header" style="border-bottom: groove white;">
                <div class="row">
                    <div class="menu-wrapper">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm sf-js-enabled sf-arrows">
                            <!-- <li {% if request.path == '/index/' %} class="active" {% endif %}><a href="/index/">Home</a></li> -->
                            <li {% if request.path == '/codecollections/' %} class="active" {% endif %}><a href="/codecollections/">Home</a></li>

                            <!-- When we create a new problem, only problem -->
                            <li {% if request.path == '/codecollections/problems/new/' %} class="active" {% endif %}><a href="/codecollections/problems/new/"> Add Problem </a></li>

                            <!-- When we create new solution for any problem -->
                            <li {% if request.path == '/codecollections/problemsandsolutions/problem-number-001/new/' %} class="active" {% endif %}><a href="/codecollections/problemsandsolutions/problem-number-001/new/"> Add Solution </a></li>

                            <!-- When we create problem and solution directly -->
                            <li {% if request.path == '/codecollections/problemsandsolutions/new/' %} class="active" {% endif %}><a href="/codecollections/problemsandsolutions/new/"> Add Both Directly </a></li>


                            <!-- When we create a new problem, only problem -->
                            <li {% if request.path == '/codecollections/problems/edit/problem-number-001/' %} class="active" {% endif %}><a href="/codecollections/problems/edit/problem-number-001/"> Edit Problem </a></li>

                            <!-- When we create new solution for any problem -->
                            <li {% if request.path == '/codecollections/problemsandsolutions/problem-number-001/edit/1/' %} class="active" {% endif %}><a href="/codecollections/problemsandsolutions/problem-number-001/edit/1/"> Edit Solution </a></li>

                            <!-- When we create a new problem, only problem -->
                            <li {% if request.path == '/codecollections/problems/wholelist/' %} class="active" {% endif %}><a href="/codecollections/problems/wholelist/"> Problems Listing </a></li>

                            <!-- When we create new solution for any problem -->
                            <li {% if request.path == '/codecollections/problems/problem-number-001/' %} class="active" {% endif %}><a href="/codecollections/problems/problem-number-001/"> Open Problem </a></li>

                            <!-- When we create new solution for any problem -->
                            <li {% if request.path == '/codecollections/problemsandsolutions/problem-number-001/1/' %} class="active" {% endif %}><a href="/codecollections/problemsandsolutions/problem-number-001/1/"> Open Problem with Solution </a></li>

                            <!-- When we create new solution for any problem -->
                            <!-- <li {% if request.path == '/codecollections/justtry/' %} class="active" {% endif %}><a href="/codecollections/justtry/"> Just Try </a></li> -->

                        </ul>
                        </ul>
                    </div> 
                </div>
            </div> 





            
