
{% extends 'guest/_master.html' %}




{% block tcontent %}
@theshivashu07's world!!
{% endblock %}



{% block headerplusplus %}
{% include 'otherapps/codecollections/_headerplusplus.html' %}



{% endblock %}





{% block childcontent %}


        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2>Archives</h2>
                        <span>Subtitle Goes Here</span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-content">
                            <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">
                                <div class="col-md-12">
                                	<h3 class="grid-heading codeheading" style="margin-bottom:25px;">101.  Burning Tree
										<div style="/* background-color:#dedede; *//* padding:2px 10px; */border-radius:2px;font-size: 12px;">
                                    		<!-- <b style="background-color:black; border-radius:5px; padding:0 5px;">Data Structure Tag's  :</b> -->
                                    		<b class="tags">Stack</b>
                                    		<b class="tags">Queue</b>
                                    		<b class="tags">Heap</b>
                                    		<b class="tags">Linked List</b>
                                    	</div>
									</h3>
                                    <div class="paragraph">
                                    	<p>
                                    		Given a binary tree and a <b>node data</b> called <b>target</b>. Find the minimum time required to burn the complete binary tree if the target is set on fire. It is known that in 1 second all nodes connected to a given node get burned. That is its left child, right child, and parent.
                    					</p>
                    					<p>
                    						<b>Note:</b> The tree contains unique values.
                    					</p>
                    				</div>
                                    <div class="paragraph">
                    					<p>
                    						<b>Your Task:</b>  
											You don't need to read input or print anything. Complete the function <b>minTime()</b> which takes the root of the tree and target as input parameters and returns the minimum time required to burn the complete binary tree if the target is set on fire at the 0th second.
                    					</p>
                    				</div>
                                    <div class="paragraph">
                    					<p>
											<b>Expected Time Complexity:</b> O(N).
                    					</p>
                    					<p>
											<b>Expected Auxiliary Space:</b> O(height of tree).
                    					</p>
                    				</div>

                                </div>
                            </div> <!-- /.row -->

                            <hr style="margin:20px 0;">
                            <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">
                                <div class="col-md-4">
                                        <div class="inputbox">
                                            <label class="labels"> Programming Language </label>
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <!-- <div class="inputbox">
                                            <label class="labels"> Data Structure </label>
                                            <select name="datastructure" id="datastructure" class="codeinputs">
                                                {% for name in DataStructures %}
                                                    <option value="{{name|lower}}"{% if name == 'Linked List' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div> -->
                                        <div class="inputbox">
                                            <label class="labels"> Plateform </label>
                                            <select name="plateforms" id="plateforms" class="codeinputs">
                                                {% for name in Plateforms %}
                                                    <option value="{{name|lower}}" {% if name == 'GeeksForGeeks' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                    <div class="inputbox">
                                        <label class="labels"> Data Structure </label>
                                        <div style="padding-left:5px;">
                                            {% for name in DataStructures %}
                                                <div>
                                                    <input type="checkbox" id="programminglanguage{{loop.counter}}" name="programminglanguage" value="{{name}}">
                                                    <label for="programminglanguage{{loop.counter}}"> {{name}}</label>
                                                </div>
                                                <!-- <br> -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="codecollections">
                                        <div class="codeheading">
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs" style="width:auto;padding:5px;margin:5px;font-size:small;">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <textarea name="comments" id="comments" class="codetextarea codeinputs" placeholder="typing..."></textarea>
                                    </div>
                                </div>
                            </div> <!-- /.row -->

                            <!-- <hr> -->
                            <!-- <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">
                                <div class="col-md-4">
                                        <div class="inputbox">
                                            <label class="labels"> Programming Language </label>
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <div class="inputbox">
                                            <label class="labels"> Data Structure </label>
                                            <select name="datastructure" id="datastructure" class="codeinputs">
                                                {% for name in DataStructures %}
                                                    <option value="{{name|lower}}"{% if name == 'Linked List' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <div class="inputbox">
                                            <label class="labels"> Plateform </label>
                                            <select name="plateforms" id="plateforms" class="codeinputs">
                                                {% for name in Plateforms %}
                                                    <option value="{{name|lower}}" {% if name == 'GeeksForGeeks' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="codecollections">
                                        <div class="codeheading">
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs" style="width:auto;padding:5px;margin:5px;font-size:small;">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <textarea name="comments" id="comments" class="codetextarea codeinputs" placeholder="typing..."></textarea>
                                    </div>
                                </div>
                            </div> --> <!-- /.row -->

                            <!-- <hr> -->
                            <!-- <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">
                                <div class="col-md-12" style="padding:15px;">
                                    <div class="row">
                                        <div class="col-md-4 inputbox">
                                            <label class="labels"> Programming Language <label>
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 inputbox">
                                            <label class="labels"> Data Structure <label>
                                            <select name="datastructure" id="datastructure" class="codeinputs">
                                                {% for name in DataStructures %}
                                                    <option value="{{name|lower}}"{% if name == 'Linked List' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 inputbox">
                                            <label class="labels"> Plateform <label>
                                            <select name="plateforms" id="plateforms" class="codeinputs">
                                                {% for name in Plateforms %}
                                                    <option value="{{name|lower}}" {% if name == 'GeeksForGeeks' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding:15px; padding-top:0px;">
                                    <div class="codecollections">
                                        <div class="codeheading">
                                            <select name="programminglanguage" id="programminglanguage" class="codeinputs" style="width:auto;padding:5px;margin:5px;font-size:small;">
                                                {% for name in ProgrammingLanguages %}
                                                    <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                {% endfor %}
                                                <option value="other">Other's</option>
                                            </select>
                                        </div>
                                        <textarea name="comments" id="comments" class="codetextarea codeinputs" placeholder="typing..."></textarea>
                                    </div>
                                </div>
                            </div> --> <!-- /.row -->

                            <hr>
                            <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">
                                <div class="col-md-12" style="padding:15px; padding-top:0px;">
                                    <div class="codecollections">
                                        <div class="col-md-12" style="padding:15px;">
                                            <div class="row">
                                                <div class="col-md-4 inputbox">
                                                    <label class="labels"> Programming Language <label>
                                                    <select name="programminglanguage" id="programminglanguage" class="codeinputs">
                                                        {% for name in ProgrammingLanguages %}
                                                            <option value="{{name|lower}}"{% if name == 'Python' %} selected {% endif %}>{{name}}</option>
                                                        {% endfor %}
                                                        <option value="other">Other's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 inputbox">
                                                    <label class="labels"> Data Structure <label>
                                                    <select name="datastructure" id="datastructure" class="codeinputs">
                                                        {% for name in DataStructures %}
                                                            <option value="{{name|lower}}"{% if name == 'Linked List' %} selected {% endif %}>{{name}}</option>
                                                        {% endfor %}
                                                        <option value="other">Other's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 inputbox">
                                                    <label class="labels"> Plateform <label>
                                                    <select name="plateforms" id="plateforms" class="codeinputs">
                                                        {% for name in Plateforms %}
                                                            <option value="{{name|lower}}" {% if name == 'GeeksForGeeks' %} selected {% endif %}>{{name}}</option>
                                                        {% endfor %}
                                                        <option value="other">Other's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 inputbox">                                                          
                                                    <div class="inputbox">
                                                        <label class="labels"> Data Structure </label>
                                                        <div style="padding-left:5px;display:flex;overflow-x: scroll;">
                                                            {% for name in DataStructures %}
                                                                <div style="flex: none; padding: 5px 10px;">
                                                                    <input type="checkbox" id="programminglanguage{{loop.counter}}" name="programminglanguage" value="{{name}}">
                                                                    <label for="programminglanguage{{loop.counter}}"> {{name}}</label>
                                                                </div>
                                                                <!-- <br> -->
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <textarea name="comments" id="comments" class="codetextarea codeinputs" placeholder="typing..."></textarea>
                                    </div>
                                </div>
                            </div> <!-- /.row -->

                        </div> <!-- /.box-content -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->


{% endblock %}



