




            <div class="main-header" style="border-bottom: groove white;">
                <div class="row">
                    <div class="menu-wrapper">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm sf-js-enabled sf-arrows">
                            <!-- <li {% if request.path == '/index/' %} class="active" {% endif %}><a href="/index/">Home</a></li> -->

                    <li {% if request.path == '/default/' %} class="active" {% endif %}><a href="/default/">Home</a></li>
                    <li {% if request.path == '/default/services/' %} class="active" {% endif %}><a href="/default/services/">Services</a></li>

                    <!-- Under Projects -->
                    <li {% if request.path == '/default/projects2/' %} class="active" {% endif %}><a href="/default/projects2/">Two Columns</a></li>
                    <li {% if request.path == '/default/projects3/' %} class="active" {% endif %}><a href="/default/projects3/">Three Columns</a></li>
                    <li {% if request.path == '/default/projectdetails/' %} class="active" {% endif %}><a href="/default/projectdetails/">Project Single</a></li>

                    <!-- Under Blog -->
                    <li {% if request.path == '/default/blog/' %} class="active" {% endif %}><a href="/default/blog/">Blog Masonry</a></li>
                    <li {% if request.path == '/default/blogsingle/' %} class="active" {% endif %}><a href="/default/blogsingle/">Post Single</a></li>

                    <!-- Under Pages -->
                    <li {% if request.path == '/default/ourteam/' %} class="active" {% endif %}><a href="/default/ourteam/">Our Team</a></li>
                    <li {% if request.path == '/default/archives/' %} class="active" {% endif %}><a href="/default/archives/">Archives</a></li>
                    <li {% if request.path == '/default/grids/' %} class="active" {% endif %}><a href="/default/grids/">Columns</a></li>
                    <li {% if request.path == '/default/error404/' %} class="active" {% endif %}><a href="/default/error404/">404 Page</a></li>

                    <li {% if request.path == '/default/contact/' %} class="active" {% endif %}><a href="/default/contact/">Contact</a></li>

                </ul>
                        </ul>
                    </div> 
                </div>
            </div> 





            